<!DOCTYPE html>
<html>
<head>
  <title>Mayordillman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>	
	<div class="jumbotron">
		<div class="container">
	        <h1>Dillman for Mayor</h1>
			<p>I just wanna party!!</p>
			<a href="#">Learn More</a>
		</div>
	</div>
</body>

</html>